* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#content-wrapper, #wrap2 {
    background: #7BBCD9;
}
#outer-wrapper {
    width: 84%;
}
#main-wrapper {
    width: 47%;
}

#sidebar-wrapper-large-own {
    width: 50%;
}
#sidebar-wrapper {
    width: 24.5%;
}
#sidebar-wrapper-own {
    width: 24%;
}
.post h3 a, .post h3 a:visited, .post h3 strong {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 120%;
    background: transparent;
    color: #444;
}

h2 {
    text-align: center;
    float: none;
    padding: 10px 5px;
    background-color: #3D3E49;
    font-family: 'Lato',Trebuchet,Arial,Verdana,Sans-serif;
    font-weight: 300;
    font-size: 100%;
}